.noticebanner{
background-image: url('https://i.ibb.co/8D4fTbd/noticeboard-banner.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 500px;
}

.nText{
    
    margin-top:200px;
    font-weight: bold;
    color: white;

}

.nav_design1{
    text-decoration: none;
    color: white;
}
.nav_design1:hover{
    background-color: black;
    color: white;
}